#qw {
    background-color:lightseagreen;
    background-size: 100%;
    color: white;
    height:100% ;
  }
  :any-link {
    color:rgba(3, 241, 15, 0.932);
    font-size:20px ;
  }
  h1 {
    color:  #2C3E50;
    position: relative;
    left: 25px;
  }
  h3 {
    color:  #2C3E50;
    position: relative;
    left: 25px;
  }
  p {
    position: relative;
    left: 25px;
  }
  li {
    position: relative;
    left: 25px;
  }
  