


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h1>STUDY IN IRELAND</h1>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>Ireland's worldwide reputation for high quality education is built on the solid foundation of commitment to excellence.</li>
        <li>Ireland is a beautiful island, combining contemporary modern cities with an unspoilt countryside, cityscapes steeped in history and a rich natural habitat.</li>
        <li>Renowned for friendliness and English speaking population, it offers the warmest of welcomes to students from all over the world.</li>
        <li>In 2010, Lonely Planet named Ireland the friendliest country in the world.</li>
        <li>The Global Peace Index-2012 ranked Ireland the sixth most peaceful place on Earth.</li>
    </ul>

</div>
  </div>
</div>



<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Economy & Job Market</h3>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>Ireland is the second most attractive country globally for FDI.</li>
        <li>It is home to more than 1000 MNCs who run their back office operations out of Ireland.</li>
        <li>A recent article by Fortune says Ireland and names Dublin in the top-seven new cities worldwide for start-ups.</li>
        <li>World Bank ranks Ireland in the top-ten worldwide for ease of doing business.
        </li>
        <li>
            According to the latest Global Entrepreneurship Monitor report, each month during 2011, about 2,200 people set up new businesses in Ireland.</li>
   
            <li>
                Over 1,000 FDI giants in ICT, Social Media, Pharmaceuticals and Finance have made Ireland the hub of their European operations, with names such as Google, HP, Apple, IBM, Facebook, Linkedin, Twitter, Pfizer, GSK and Genzyme.</li>
        </ul>

</div>
  </div>
</div>
