


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h1>STUDY IN FRANCE</h1>
    
    <div class="row">
        <div class="col-13">
<p>World class Graduate and Business schools welcome you with quality of education & internship opportunities.</p>     
</div>
  </div>
</div>


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Career Prospects</h3>
        <div class="row">
    <div class="col-13">
    <ul>
    
        <li>Collaboration with industry and salary based-internships are integral part of curriculum.</li>
        <li>Support students to secure salary based internships and the minimum salary wage is 430 Euros approximately.</li>
        <li>The statistics state that about 60% of the students who carried out internship lead to the placement in the same industry.</li>
        <li>Work placements have become a major part of the curriculum.</li>
        
    </ul>
    
    </div>
        
      </div>
    </div>

    <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
        <h3>Features</h3>
            <div class="row">
        <div class="col-13">
        <ul>
        
            <li>Part of the tuition fee is subsidized by French Government.</li>
            <li>Programs are available in the fee range of 10000-20000 Euro for the whole program.</li>
            <li>Similar ranked schools in USA, Australia, Canada and UK charge around 30000 Euro.</li>
            <li>Offers French language classes free of charge.</li>
            <li>French is the second most used language in the business world.</li>
        </ul>
        
        </div>
            
          </div>
        </div>

        <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
            <h3>Economy</h3>
                <div class="row">
            <div class="col-13">
            <ul>
            
                <li>Of the Fortune global 500 companies, 39 are headquartered in France.</li>
                <li>4th Wealthiest country in the world.</li>
                <li>5th largest economy in the world.</li>
                <li>Globally acclaimed French companies are Renault, Airbus, TOTAL, AXA, BNP Paribas, Carrefour, GDF Suez, CreditAgricole, Electricite de France, Societe Generale, Peugeot, France Télécom, CNP Assurances, GroupeAuchan, Saint-Gobain, Veolia Environnement, Bouygues, SNCF, FonciereEuris, Vivendi, La Poste, Christian Dior, Alstom, Schneider Electric, L'Oreal and Sodexo.</li>
                
            </ul>
            
            </div>
                
              </div>
            </div>
    
    



