


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h1>STUDY IN FINLAND</h1>
    
    <div class="row">
        <div class="col-13">
            <p>Finland is a technology superpower and remains one of the most technologically innovative and advanced countries in the world. Nokia, Finland's largest company is the number one maker of mobile phones worldwide. Furthermore, Finland boasts the most internet connections in the world. So if technology and communications interest you, there's no better place than Finland. In August 2010, Newsweek declared that Finland is the best country on the basis of five criteria health, economic dynamism, education, political environment and quality of life.</p>

</div>
  </div>
</div>


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Highlights</h3>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>Finland had the most advanced education systems in the world and as a result of innovative mind set and investing in education Finland are blessed with high standard of education and quality of life.</li>
        <li>Literacy rate in Finland is highest among the world.</li>
        <li>Majority of International Master’s programmes in Finland still carry no tuition fee.</li>
        <li>Some of the Master’s might carry tuition fee on rotation basis during the five trial period from 2010-2014 but plenty of scholarships covering fee waivers are offered by Finnish Universities.
        </li>
        <li>
            According to a recent survey by International student Barometer, 89 % of the international students are happy to study in Finland and very happy with their Finnish institution of higher education.</li>
               <li>Finland has 20 university level institutions and 29 polytechnics and about 200 Master’s programmes are exclusively offered in English.</li>
        </ul>

</div>
  </div>
</div>

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Features</h3>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>International students are endowed with the world-class material facilities of the Finnish institutions such as libraries, lecture rooms, laboratories, computer facilities, IT services and support services.</li>
        <li>The Finnish institutions score higher than average for services at arrival and are duly commended for these arrangements.</li>
        <li>The staff members at the international offices and at accommodation services are recognised for their excellent levels of service.</li>
        <li>Student is asked to show the proof of 6000 Euro towards living expenses while applying to Finnish student visa which is the lowest compared to any other visa procedure followed by a foreign country.
        </li>
        <li>
            Almost every student applies to Finnish visa succeed to secure visa provided that the submitted documents are authentic.</li>
            <li>
                After graduation International students can apply for a residence permit extension for the duration of 6 months for the purpose of looking for a job.</li>
        </ul>

</div>
  </div>
</div>


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Research & Development</h3>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>Similarly, the number of women in R&D posts has grown steadily. In 2006, about 35% of research personnel in general and 48% of university research personnel were women, and the proportion of women professors in Finland is among the highest in the EU.</li>
        <li>The total funding of research and development goes up to EUR 2,065 million in the 2011 Government Budget.</li>
        <li>Relative to population and GDP, Finland is one of the world’s biggest publishers, ahead of such traditionally strong countries in scientific research as the UK and Germany.</li>
        <li>In 2005, Finnish researchers produced 8,300 publications, the highest figure on record. The number of publications by Finnish researchers in international esteemed scientific journals has increased 2.5-fold during the past 20 years. </li>
     </ul>   

</div>
  </div>
</div>



<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Economy & Job Market</h3>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>Finland has a highly industrialized mixed economy with a per capita output equal to that of other European economies such as France, Germany, Belgium or the UK.</li>
        <li>According to World Economic Forum (WEF), Finland was the 7th most competitive country in the world in 2010.</li>
        <li>Few Billion dollar Finnish companies are Nokia, Fortum, Sampo, Stora Enso, UPM-Kymmene, Kone, Metso, Wartsila, Neste Oil, Pohjola Bank, Kesko, Kemira.</li>
        <li>The employment rate in Finland was best in the fields of medical and health sciences (93%), engineering and technology (90%), humanities (83%), natural sciences (85%) and agricultural sciences (86%). </li>
      </ul>  
</div>
  </div>
</div>
