

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h1>STUDY IN GERMANY</h1>
    <h3>Unfold your potential in the land of ideas</h3>
    <div class="row">
        <div class="col-13">
<p>Germany is regarded as land of ideas. Germany consists of 16 states while the capital and largest city is Berlin. With around 8.2 crores inhabitants, it is the most populous member state and the largest economy in the European Union. Germany is one of the major political powers of the European continent and a technological leader in many fields. The currency of Germany is Euro.</p>
        </div>
  </div>
</div>



<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
<h3>Highlights</h3>
    <div class="row">
<div class="col-13">
<ul>

    <li>Germany has been named as the most supportive country for overseas students in the year 2011, according to a survey conducted by British Council’s Global Gauge survey.</li>
    <li>Between 2010 and 2013 German government is spending EUR 12 billion on education and research.</li>
    <li>Germany has 47 universities among top 500 universities of the world in a recent ranking list compiled by Webometrics.</li>
    <li>Germany has 14 universities among top 200 universities of the world in a recent ranking list compiled by Times Higher Education.</li>
    <li>Germany ranked at 2nd place in Research & Development and has produced 102 noble laureates of the total 840 noble prizes issued till date.</li>
    
</ul>

</div>
    
  </div>
</div>

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Features</h3>
        <div class="row">
    <div class="col-13">
    <ul>
    
        <li>German universities are state; industry and public funded and offer the most cost effective study options with no or nominal tuition fee.</li>
        <li>Admissions in Germany are highly competitive as 250000 International students come to Germany for studies every year.</li>
        <li>The degrees awarded by German universities are recognized all over the world with high global acceptance among industries and academic institutions.</li>
        <li>The standard of higher education in Germany is very high and education system ensures that student gains practical knowledge and skills to address the challenges in industry and in R&D.
        </li>
        <li>Studying in Germany often includes interaction with industry as German universities design Master program in collaboration with companies operating in the same sector..</li>
        
    </ul>
    
    </div>
        
      </div>
    </div>

    <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
        <h3>Employment & Job Market</h3>
            <div class="row">
        <div class="col-13">
        <ul>
        
            <li>According to latest Economic forecast, German economy is forecast to grow 3.3% in 2011 and employment is expected to expand by 4,90,000.</li>
            <li>Of the Fortune global 500 companies, 37 are headquartered in Germany.</li>
            <li>Some of the globally acclaimed companies from Germany are SAP Labs, Allianz, Adidas, Bosch, Daimler-Benz, Audi, Bayer, Siemens, Volkswagen, E.ON, Deutsche Bank, Porsche, BMW, Lufthansa, Henkel, BASF and RWE.</li>
           
        </ul>
        
        </div>
            
          </div>
        </div>
        
        <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
            <h3>Language</h3>
                <div class="row">
            <div class="col-13">
            <ul>
            
                <li>Learning a foreign language is compulsory throughout Germany in secondary schools and often this language is English. Every German below the age of 50 possesses the ability to converse in English.</li>
                <li>According to a list of countries by English-speaking population published by Wikipedia, 60% of Germans are fluent at speaking English where as only 15% of Indians have fluency at English.</li>
            <li>About 85% of faculty members working at German higher education institutions possess the ability to teach and converse in English.</li>
                <li>Most of the international Master programmes offered by German Universities will be taught exclusively in English.
                </li>
                <li>Many German universities offer free-of-charge language courses to International students.</li>
                
            </ul>
            
            </div>
                
              </div>
            </div>
