


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h1>STUDY IN NETHERLANDS</h1>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>The Netherlands has over 50 years of experience with offering international programmes in English.</li>
        <li>The Dutch educational system is interactive, business-driven and it focuses on teamwork.</li>
        <li>The Dutch educational system is of high quality and is acknowledged worldwide.</li>
        <li>95% of the inhabitants speak English which makes communication with the locals easy.</li>
        <li>Total number of international students is 81,700.</li>
        <li>Undergoing education in the Netherlands is the key for a successful worldwide career. The Dutch system of higher education enjoys a worldwide reputation for high quality.</li>
   
    </ul>

</div>
  </div>
</div>


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Economy & Job Market</h3>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>The Netherlands has a very strong economy and has been playing a special role in the European economy for many centuries.</li>
        <li>The Netherlands is one of the world's 10 leading exporting countries.</li>
        <li>The Netherlands has the 16th largest economy in the world.</li>
        <li>Ranks 7th in GDP (nominal) per capita.</li>
        <li>Due to its central position, the Netherlands has been described as the Gateway to Europe. All famous European capitals are within easy reach: Paris, Berlin, Brussels and London are all situated within an hour flight from the Dutch capital - Amsterdam.</li>
        <li>Major industries include chemicals, metallurgy, machinery, electrical, goods and tourism. Examples include Unilever, Heineken, financial services (ING), chemicals (DSM), petroleum refining (Shell), electronic machinery (Philips, ASML) and car navigation Tom-tom.</li>
   
    </ul>

</div>
  </div>
</div>
