


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h1>STUDY IN NORWAY</h1>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>Norway offers tuition-free higher education to all, regardless of the country of origin.</li>
        <li>Internationalisation of higher education has been an important factor for the development of programmes and degrees taught in English.</li>
        <li>Currently more than 200 Masters programmes taught in English are available to students, covering a wide range of subject areas.</li>
        <li>Presently 14000 international students are enrolled at higher education institutions in Norway.</li>
        <li>International students are entitled to work part-time for maximum of 20 hours per week and full time during weekends and semester breaks.</li>
</ul>
</div>
  </div>
</div>


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Economy & Job Market</h3>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>Norwegians enjoy the 2nd highest GDP per-capita (after Luxembourg) and 4thhighest GDP (PPP) per-capita in the world.</li>
        <li>Norway ranks as the 2nd wealthiest country in the world in monetary value, with the largest capital reserve per capita of any nation.</li>
        <li>Norway maintains 1st place in the world in the UNDP Human Development Index.</li>
        <li>Norway is a founding member of the United Nations, NATO, the Council of Europe, and the Nordic Council, a member also of the European Economic Area, the WTO, the OECD and is a part of Schengen Area.
        </li>
        <li>Continued oil and gas exports coupled with a healthy economy and substantial accumulated wealth lead to a conclusion that Norway will remain among the richest countries in the world in the foreseeable future.</li>
</ul>
</div>
  </div>
</div>
