
  h1 {
    color:  #2C3E50;
    position: relative;
    left: 25px;
  }
  h3 {
    color:  #2C3E50;
    position: relative;
    left: 25px;
  }
  p {
    position: relative;
    left: 25px;
  }
  li {
    position: relative;
    left: 25px;
  }