


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h1>STUDY IN ITALY</h1>
    <h3>Start your future in Historical higher education hub & highly developed industrial Region</h3>
    <div class="row">
        <div class="col-13">
<p>Italy is a country of great food, great weather, and is fast becoming an ever-more popular study abroad destination with some of the world’s top universities.</p>
</div>
  </div>
</div>


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Highlights</h3>
        <div class="row">
    <div class="col-13">
    <ul>
    
        <li>Italy has many oldest continually operating universities in the world. University of Bologna is believed to establish in 1008.</li>
        <li>Italy has 17 universities ranked among world top 500 in the latest ranking list compiled by Webometrics.</li>
        <li>Politechnic Di Milano is one of the world’s finest technical universities and ranked 31 for Engineering & Technology in the ranking list compiled by QS.</li>
        <li>Every year 40000 international students head for Italy to enjoy one of the most unique experiences international graduate education has to offer.</li>
        <li>Italy has a high public education standard, surpassing that of other comparable developed countries, such as the UK and Germany.</li>
    </ul>
    
    </div>
        
      </div>
    </div>

    <div classc="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
        <h3>Features</h3>
            <div class="row">
        <div class="col-13">
        <ul>
        
            <li>Italian universities charge very minimal tuition fee from international students and offer master programmes exclusively taught in English.</li>
            <li>Italian Universities offer plenty of scholarships to students from India than any other country in the world.
            </li>
            <li>Italian Universities grant fee waivers, free housing at student residence, refectory meal tickets and additional money to cover living depending on the academic merits of the student.
            </li>
            <li>Italian universities have strong relationship with industry and the programmes are designed in collaboration with companies operating in the same sector.</li>
            <li>Italian Universities are student-eccentric than any other country in Europe and offers career service support to International student to find part-time job, internships and employment.</li>
        </ul>
        
        </div>
            
          </div>
        </div>

        <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
            <h3>Employment & Job Market</h3>
                <div class="row">
            <div class="col-13">
            <ul>
            
                <li>Italy ranks among the 8 most industrialised countries in the world.</li>
                <li>Italy possess 8th largest economy in the world and 4th largest in Europe in terms of nominal GDP. </li>
                <li>Home to thousands of industries specialized in manufacturing Ships, Aircrafts, defense systems, commercial vehicles, race cars, machines, electrical goods, instruments, energy equipments, hybrid materials, printing, textiles etc.
                </li>
                <li>
                    Ferrari, Maserati, Alfa Romeo, Fiat and Lamborghini are some of the most famous Italian car manufacturers in the world.
                    </li>
                <li>Occupies a leading international position with a dense network of companies specialised in the production of spare parts and accessories, equipment for workshops and garages, traction and braking systems, and automated systems.</li>
            </ul>
            
            </div>
                
              </div>
            </div>

            <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
                <h3>Miscellaneous</h3>
                    <div class="row">
                <div class="col-13">
                <ul>
                
                    <li>
                        Italy is one of the four countries that first engaged to create the so-called European Area of Higher Education through which Bologna process is being implemented all over Europe to make academic standards and quality assurance standards more compatible throughout Europe.
                        </li>
                    <li>Italy is known to the world for the historical city Rome, floating city Venice, Colosseum, Oldest continually operating universities, ancient art & culture, antique architecture extravagant churches, leaning tower of Pisa, Vatican City, and Damanhur community. </li>
                    <li>Italian foods are well-known for their taste, herbs and spices worldwide, especially Italian pizzas and Pasta are hot favourite food to all kind of global customers.
                    </li>
                    <li>
                        Italy is the home land of famous renaissance artists Michelangelo, Leonardo da vinci, and Giovanni Bellini.
                        </li>
                    <li>Italians are warm and friendly and will bend over backwards to help International students.</li>
                </ul>
                
                </div>
                    
                  </div>
                </div>
