


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
  <h1>About Rise Abroad</h1>
  <div class="row">
    <div class="col-sm-8"><p> Established in the year 2003, SNY COSMOS Overseas Edu Consultants (P)Ltd, India has carved an eminent position in providing consulting services to students who aspire to study in European countries such as Sweden, Germany, France, Italy, Finland, Ireland, The Netherlands, Denmark, Latvia, Norway, Poland, Belgium, Spain etc..
      Today, we have a portfolio of reputed universities from various European countries and works closely with several organizations and education providers locally.</p></div>
    <div class="col-sm-4"><img src="../../assets/image/1.jpg" alt="About" width="400px" style="float: middle;"></div>
  </div>
</div>
  

    <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
      <h3>Why Rise Abroad?</h3>
      <div class="row">
        <div class="col-sm-8"><ul >
          <li>15 years of rich experience in offering need-based consulting services by understanding technical requirements and psychological needs of students aspiring to study in abroad.</li>
          <li>Credible name for enriching students’ academic careers</li>
          <li>Considered as the first choice for the students aspiring to pursue their higher education in Continental Europe</li>
          <li>Official recruitment partner to some of the finest universities ranked among top 500 in the world</li>
                                         <li>Maintaining Up-to-date information on study opportunities, scholarship opportunities and latest changes in visa procedures</li>
                                         <li>Constantly updating us with the latest advancements and undergoing research activities in every field, so that we can be in a better position to guide the student towards right direction</li>
                                         <li>Ensuring that our counsellors are highly qualified and come from diverse academic backgrounds</li>
                                         <li>Operating in the context of student’s interests and the standards of the international universities</li>
                                         <li>Unique and trust-worthy service tailored to suit the individual needs</li>
                                         <li>Ensuring that ethics and human values are maintained in the service</li>
                                         <li>Value for money</li>
                                     </ul>
                                     <h3 >Accomplishments</h3>
                                     <ul>
                                         <li>Guided more than 8000 students to pursue their dream of studying in Continental Europe</li>
                                         <li>Secured 45 Crores worth of Scholarships and this amount of scholarship will be at the disposal of the student to cover travel and living expenses</li>
                                         <li>Secured over 3600 admissions with minimal tuition</li>
                                         <li>Secured admissions at around 150 European universities</li>
                                         <li>Secured admissions in about 200 specializations</li>
                                         <li>Secured over 4100 admissions at Universities ranked in world’s best 500</li>
                                     </ul></div>
      </div>
      </div>


      <div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;padding: 20px;">
        <div class="row">
          <div class="col-sm">
            
          </div>
          <div class="col-sm">
            <img src ="../../assets/image/01.jpg">
          </div>
          <div class="col-sm">
            
          </div>
        </div>
      </div>

    
      <div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;padding: 20px;">
   
        <div class="row">
          <div class="col">
            <h6>Visakhapatnam</h6>
          
          <ul>
            <li>64-22/16/a,Gajuwaka,Vsp-530011,</li>  
            <li>AndhraPradesh,India</li>
            <li>0891-231456</li>
            <li>riseabroad@gmail.com</li>
          </ul>
          </div>
          <div class="col">
            <h6>Hyderabad</h6>
          <ul>
              <li>block-202,ramnagar,kunchamma colony,</li>  
              <li>Telangana,India</li>
              <li>0891-231789</li>
              <li>riseabroad@gmail.com</li>
            </ul>
          </div>
          <div class="col">
            <h6>TamilNadu</h6>
          <ul>
              <li>block-420,srinagar,anakapalli</li>  
              <li>TamilNadu,India</li>
              <li>0891-231745</li>
              <li>riseabroad@gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
    
    
    
    
      <div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;">
             
        <div class="row">
          <div class="col">
            <p style="text-align: center;">Copyright © 2020 RiseAbroad Overseas Edu Consultant,Pvt.Ltd...    Powered by  <a  href="https://radhakrishna0055.github.io/web-design/" rel="nofollow" target="_blank">Radhakrishna</a></p>
          </div>
        
        </div>
      </div>