

<div cloass="container-fluid" style="background-color:white;size: 100%;color: black;padding: 20px;">
    <h1>Countries</h1>
    <div class="row">
      <div class="col-sm">
          <h4>sweden</h4>
        <a style="color: brown;padding: 10px;" routerLink="sweden"><img src="../../assets/image/Sw-1.jpg"  width="50px"></a>
      </div>
      <div class="col-sm">
          <h4>germany</h4>
        <a style="color: brown;padding: 10px;" routerLink="germany"><img src="../../assets/image/Ge-1.jpg"  width="50px"></a>
      </div>
      <div class="col-sm">
          <h4>finland</h4>
        <a style="color: brown;padding: 10px;" routerLink="finland"><img src="../../assets/image/fi-1.jpg"  width="50px"></a>
      </div>
      <div class="col-sm">
        <h4>norway</h4>
        <a style="color: brown;padding: 10px;" routerLink="norway"><img src="../../assets/image/no-1.jpg"  width="50px"></a>
      </div>
        <div class="col-sm">
            <h4>france</h4>
          <a style="color: brown;padding: 10px;" routerLink="france"><img src="../../assets/image/fr-1.jpg"  width="50px"></a>
        </div>
        <div class="col-sm">
            <h4>italy</h4>
          <a style="color: brown;padding: 10px;" routerLink="italy"><img src="../../assets/image/it-1.jpg"  width="50px"></a>
        </div>
        <div class="col-sm">
          <h4>latvia</h4>
        <a style="color: brown;padding: 10px;" routerLink="latvia"><img src="../../assets/image/la-1.jpg"  width="50px"></a>
      </div>
      <div class="col-sm">
        <h4>ireland</h4>
        <a style="color: brown;padding: 10px;" routerLink="ireland"><img src="../../assets/image/ir-1.jpg"  width="50px"></a>
      </div>
        <div class="col-sm">
            <h4>netherlands</h4>
          <a style="color: brown;padding: 10px;" routerLink="netherlands"><img src="../../assets/image/ne-1.jpg"  width="50px"></a>
        </div>
        <div class="col-sm">
            <h4>belgium</h4>
          <a style="color: brown;padding: 10px;" routerLink="belgium"><img src="../../assets/image/be-1.jpg"  width="50px"></a>
        </div>
        <div class="col-sm">
            <h4>denmark</h4>
          <a style="color: brown;padding: 10px;" routerLink="denmark"><img src="../../assets/image/de-1.jpg"  width="50px"></a>
        </div>
        <div class="col-sm">
          <h4>other countries</h4>
          <a style="color: brown;padding: 10px;" routerLink="othercountries"><img src="../../assets/image/ot-1.jpg"  width="50px"></a>
        </div>
    </div>
  </div>
  
<div class="container3">
    <router-outlet>

    </router-outlet>
</div>





<div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;padding: 20px;">

    <div class="row">
      <div class="col">
        <h6>Visakhapatnam</h6>
      
      <ul>
        <li>64-22/16/a,Gajuwaka,Vsp-530011,</li>  
        <li>AndhraPradesh,India</li>
        <li>0891-231456</li>
        <li>riseabroad@gmail.com</li>
      </ul>
      </div>
      <div class="col">
        <h6>Hyderabad</h6>
      <ul>
          <li>block-202,ramnagar,kunchamma colony,</li>  
          <li>Telangana,India</li>
          <li>0891-231789</li>
          <li>riseabroad@gmail.com</li>
        </ul>
      </div>
      <div class="col">
        <h6>TamilNadu</h6>
      <ul>
          <li>block-420,srinagar,anakapalli</li>  
          <li>TamilNadu,India</li>
          <li>0891-231745</li>
          <li>riseabroad@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;">
         
    <div class="row">
      <div class="col">
        <p style="text-align: center;">Copyright © 2020 RiseAbroad Overseas Edu Consultant,Pvt.Ltd...    Powered by  <a  href="https://radhakrishna0055.github.io/web-design/" rel="nofollow" target="_blank">Radhakrishna</a></p>
      </div>
    
    </div>
  </div>






