#op {
    background-color:white;
    background-size: 100%;
    color:black;
    height: 300;
}

:any-link {
    color:rgba(1, 20, 2, 0.932);
    font-size:20px ;
  }
  h1 {
    color:  #2C3E50;
    position: relative;
    left: 25px;
  }
  :any-link {
    color:rgba(3, 241, 15, 0.932);
    font-size:20px ;
  }
  li {
    position: relative;
    left: 25px;
  }