

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h1>STUDY IN SWEDEN</h1>
    <h3>Stimulate your intellect in the land of innovation and Nobel Prize</h3>
 <div class="row">
    <div class="col-13">
<p>Sweden is the sixteenth-richest country in the world in terms of GDP (gross domestic product) per capital and a high standard of living is experienced by its citizens.The Traditional engineering industry is still a major source of Swedish inventions, but pharmaceuticals, electronics and other high-tech industries are gaining ground.</p>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
<h3>Highlights</h3>
    <div class="row">
        <div class="col-13">

            <ul>
                <li>Home of Nobel prize, which is the world’s most prestigious academic distinction.</li>
             <li>Ranked as the Sweden in the world for standard of education at Master’s and doctoral levels.</li>
             <li>Popular study destination among international students including citizens of USA, UK and Canada.</li>
             <li>Swedish Universities received about 374000 applications for 30000 available seats in the previous years.</li>
             <li>History of rich academic excellence with outstanding universities dating back to as early as 15th century.</li>
             <li>Multi-cultural environments with about students of 160 nationalities.</li>

             </ul>

        </div>
    
      </div>

</div>

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Features</h3>
        <div class="row">
            <div class="col-13">
    
                <ul>
                    <li>IELTS/TOEFL/GRE/GMAT are not required either for admission or visa</li>
                 <li>Participatory and research based education system.</li>
                 <li>Safe and modern environment.</li>
                 <li>90% Swedes speak fluent English.</li>
                 <li>Project based teaching in collaboration with industries.</li>
                 <li>Opportunity to pursue salary based internships in partner companies which may lead to further employment.</li>                <li>Government is investing 110 Billion SEK for 2009 to 2012 in educational research.</li>
                 <li>Majority of Swedish Companies use English as official language</li>
                 <li>Ranked 1st in Information and Communication Technology (ICT) rankings for third year in row.</li>
                 <li>Hosts two of the world’s leading heavy truck and bus manufacturers.</li>
                 <li>Motor vehicle industry accounts for exports valued at 160 Billon SEK.</li>
                 </ul>
    
            </div>
        
          </div>
    
    </div>

    <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
<h3>Innovation</h3>
        <div class="row">
            <div class="col-13">

                <ul>
                    <li>The European innovation scoreboard placed Sweden as the most innovative country in the world.</li>
                 <li>Some examples of the successful innovation from Sweden are the computer mouse, Bluetooth, The Pacemaker, The ball bearing, The dialysis machine, SKYPE and Online music streaming service etc.</li>
               
                </ul>

            </div>
            
          </div>
        </div>

        <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">

<h3>Economy</h3>

<div class="row">
    <div class="col-13">

<ul>

    <li>BBC states Sweden’s economy last year grew six times faster than UK.</li>
    <li>Sweden's Economy is one of the strongest in the world and recorded about 4-6% growth every year in spite of the global recession.</li>
    <li>World bank ranks Sweden number one in Knowledge Economy index.</li>
    <li>Sweden is experiencing skills shortage in fields such as Engineering, IT, Biotechnology and health care.</li>
    <li>As a rapidly aging workforce retires, the government is predicting more labor shortages in near future.</li>
    <li>Forbes Magazine has included 30 Swedish companies on its list of the world's most successful major companies, including Nordea Bank, ABB and H&M.</li>
    <li>Some of the globally acclaimed companies from Sweden are Astra Zeneca, Volvo, Nordea Bank, IKEA, Ericsson, Vattenfall, Skanska, Sony Ericsson, ABB, H&M, Electrolux, SKF, TeliaSonera, Sandvik, Scania, ICA, Preem, Atlas Copco, Securitas and Nordstjernan.</li>
    <li>Despite the introduction of tuition fee, Swedish Universities are offering numerous scholarships covering 25%, 50%, 75% and 100% of the tuition fee on the basis of academic merit.</li>
    

</ul>
        
    </div>
    
  </div>
</div>

