

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h1>STUDY IN DENMARK</h1>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>The second most peaceful country in the world on the basis of standards of health, welfare and education.</li>
        <li>Danish higher education institutions cooperate with business to ensure an up-to-date learning environment where you can learn from industry experts and undertake internships in globally recognized organizations. These innovative public-private partnerships provide a stimulating research environment with global job opportunities.</li>
        <li>Denmark takes 4th place in global creativity index.
            At Danish universities, the teaching staff dedicate part of their time to research. This ensures that all programmes reflect the latest trends and findings in their respective fields.</li>
        <li>Danish Education provides International students with Strong analytical & communicative skills, the ability to work independently as well as in groups, International Profile and an excellent foundation for future career.
        </li>
        <li>Denmark is ranked as a world leader in e-readiness and usage of IT by both The World Economic Forum and The Economist.</li>
        <li>Higher education in Denmark is regulated by the state. An ongoing approval and evaluation process ensures that all programmes are of the highest quality and relevance. Furthermore, many programmes are internationally accredited.</li>
</ul>
</div>
  </div>
</div>
