
<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <div class="row">
     
      <div class="col">

        <h1>EUROPEAN COMPANIES</h1>

        <p>The education at European universities is taught in close co-operation with companies working in the same domain. The co-operation may include visit to the companies, undertaking project works with host companies, guest lectures by the faculty from industry, opportunities to pursue internship and thesis etc.
            Be part of global brands in continental Europe.</p>
 </div>
    </div>
  </div>
<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Automobiles</h3>
    <div class="row">
      <div class="col-sm">
    <ul>
       <li>Imperia Automobiles</li>
<li>Abarth</li>
<li>B Engineering</li>
    </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>Volvo Car Gent</li>
<li>Alfa Romeo</li>
<li>Birel (karts)</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
           <li>Nokian Tyres</li>
<li>Bandini</li>
<li>Bizzarrini</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>Valmet Automotive</li>
<li>Bertone</li>
<li>Boano</li>
        </ul>
      </div>
    </div>
  </div>
<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Aerospace & defense</h3>
    <div class="row">
      <div class="col-sm">
    <ul>
       <li>ArianeGroup
        </li>
<li>Alenia Aeronautica
    </li>
<li>Diehl Aerospace</li>
    </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>Dassault Aviation
                </li>
         <li>AgustaWestland
            </li>
<li>Dornier Flugzeugwerke</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
           <li>Aermacchi
           </li>
<li> Snecma
    </li>
<li>Beretta</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>Alenia Aermacchi
                
                </li>
<li>Thales Group</li>
<li>Leonardo</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Auto parts</h3>
    <div class="row">
      <div class="col-sm">
    <ul>
       <li>Norauto
        </li>
<li> Continental AG
    </li>
<li> Diehl Aerospace</li>
    </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>BBS Kraftfahrzeugtechnik
                
               
                </li>
         <li>ElringKlinger
            </li>
<li> Dornier Flugzeugwerke</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
           <li>Behr GmbH & Co. KG
           
          
           </li>
<li> Getrag
    </li>
<li> Beretta</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>Benecke-Kaliko </li>
<li>Hella</li>
<li>Mann+Hummel</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Airlines</h3>
        
    <div class="row">
      <div class="col-sm">
    <ul>
       <li>Air Berlin
        </li>
<li>Lufthansa
    </li>
<li>  Air One</li>
    </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>Condor Flugdienst </li>
         <li >Alitalia
            </li>
<li>  Blue Panorama Airlines</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
           <li>Dba  </li>
<li> Air Dolomiti
    </li>
<li> C.A.I. Second</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>LSG Sky Chefs</li>
<li> Air Italy</li>
<li>Eurofly</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    
    <h3>Apparel and accessories</h3>
        
    <div class="row">
      <div class="col-sm">
    <ul>
       <li>55DS </li>
<li>Benetton
    </li>
<li>  Bolgheri
</li>
    </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>Alpinestars</li>
         <li >Berluti
            </li>
<li>  Bontoni</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
           <li>Andrea Moda
            
             </li>
<li> Bettanin & Venturi
    </li>
<li> Borsalino</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>Armani </li>
<li>  Blufin</li>
<li>Bottega Veneta</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;padding: 20px;">
    <div class="row">
      <div class="col-sm">
        
      </div>
      <div class="col-sm">
        <img src ="../../assets/image/01.jpg">
      </div>
      <div class="col-sm">
        
      </div>
    </div>
  </div>

 
  <div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;padding: 20px;">
   
    <div class="row">
      <div class="col">
        <h6>Visakhapatnam</h6>
      
      <ul>
        <li>64-22/16/a,Gajuwaka,Vsp-530011,</li>  
        <li>AndhraPradesh,India</li>
        <li>0891-231456</li>
        <li>riseabroad@gmail.com</li>
      </ul>
      </div>
      <div class="col">
        <h6>Hyderabad</h6>
      <ul>
          <li>block-202,ramnagar,kunchamma colony,</li>  
          <li>Telangana,India</li>
          <li>0891-231789</li>
          <li>riseabroad@gmail.com</li>
        </ul>
      </div>
      <div class="col">
        <h6>TamilNadu</h6>
      <ul>
          <li>block-420,srinagar,anakapalli</li>  
          <li>TamilNadu,India</li>
          <li>0891-231745</li>
          <li>riseabroad@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>




  <div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;">
         
    <div class="row">
      <div class="col">
        <p style="text-align: center;">Copyright © 2020 RiseAbroad Overseas Edu Consultant,Pvt.Ltd...    Powered by  <a  href="https://radhakrishna0055.github.io/web-design/" rel="nofollow" target="_blank">Radhakrishna</a></p>
      </div>
    
    </div>
  </div>







    

