

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h1>STUDY IN OTHER COUNTRIES</h1>
    <p>We also assist students to get admission in other countries from Europe such as Spain, Switzerland, The United Kingdom, Poland, Greece, Hungary, Austria and Portugal</p>
    <h2>In the previous years, our students admitted at following universities</h2>
    <h3>The United Kingdom</h3>
    <div class="row">
      <div class="col-sm">
        <ul>
            <li>University of Southampton</li>       
     <li>University of Sheffield</li>
    <li>Cranifeld University</li>
    
    </ul>
      </div>
      <div class="col-sm">
        
        <ul>
            <li>University of St. Andrews</li> 
                      
     <li>University College London</li>

    </ul>


      </div>
      <div class="col-sm">
        
        <ul>
            <li>Imperial College</li>
                                   
     <li>City University London</li>

    </ul>
      </div>
      <div class="col-sm">
    
        <ul>
            <li>
                <li>University of Exeter</li>                     
         <li>Heriot-Watt University</li>
    
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Spain</h3>
    <div class="row">
      <div class="col-sm">
       
        <ul>
            <li>
                <li>University of Compultense Madrid
                    </li>                     
         <li>University of Catalyunia Barcelona</li>
    
        </ul>
      </div>
      <div class="col-sm">
        
        <ul>
            <li>
                <li>University of Granada </li> 
                                       
         <li>University of Sevilla</li>
    
        </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>
                <li>Autonomous University of Barcelona</li> 
                                       
         <li>University of Barcelona</li>
    
        </ul>
      </div>
      <div class="col-sm">
    
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
   <h3>Portugal</h3>
    <div class="row">
      <div class="col-sm">
        <ul>
        <li>University of Aveiro</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>University of Minho</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>University of Porto</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>University of Algarve</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <div class="row">
      <div class="col-sm">
        <ul>
            <li>ETH Zurich, Switzerland </li>       
     <li>University of Geneva, Switzerland</li>
    <li>University of Gdansk, Poland</li>
    </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>University of Warsaw, Poland </li>       
     <li>University of Wroclaw, Poland</li>
    <li>Central European University, Hungary</li>
    </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>Budapest University of Technology and Economics, Hungary </li>       
     <li> Charles University, Czech Republic</li>
    </ul>
      </div>
      <div class="col-sm">
        <ul>
            <li>Aristotle University of Thessaloniki, Greece </li>       
     <li>Queens University Belfast, Northern Ireland</li>
    </ul>
      </div>
    </div>
  </div>