

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
  <h1>European Education</h1>
  <div class="row">
    <div class="col-sm-8"> <p>The universities from continental Europe are heavily subsidized by their respective national governments. Most of the International Master's programmes are offered with no or nominal tuition fee by the public institutions of Germany, Norway, Belgium, Italy, Finland and France. Though Sweden has introduced the concept of tuition fee from the year 2010, students can still target several scholarship options and avail the benefit of fee waivers."According to the list of World University rankings published be Times Higher Education Rankings 2018, 400 of the top 1000 universities in the world are located in the Europe".The tuition fee at several established Universities in continental Europe was on an average about 1/4th of the tuition fee of the universities in the United States of America.
      Companies in the EU are having difficulty finding suitably qualified staff to fill specialist positions in sectors such as Information Technology, Engineering and Biotechnology. Hence European member states are moving forward with implementation of the blue card from year 2011 which would grant work and resident permit to non-EU citizens and facilitate them to move to another member state.</p></div>
    <div class="col-sm-4"> <p><img src="../../assets/image/eu_education.jpg"></div>
  </div>
</div>


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
  <h3>Why Study in Europe?</h3>
  <div class="row">
    <div class="col-sm-13">
      <ul >
          <li>The education sector is given top priority by many European Countries and investing billions of Euro in to educational research that benefits people, industry, society and environment.</li>
          <li>Qualified students can avail plenty of scholarship opportunities that are offered by the European Commission, National Governments, Various societies, industries and research organizations to cover their living expenses.</li>
          <li>European Universities have a cherished, long and proud history of academic excellence dating back as early as to the 15th century.</li>
          <li>Provide good value for money by offering globally recognized degrees at affordable cost.</li>
          <li>Degrees are aligned with ECTS (European Credit transfer System) which facilitates student to spend 1-2 semesters of study at abroad.</li>
          <li>High probability of getting into better ranked university when applied for admission into universities in continental Europe than in the United States.</li>
          <li>Wide range of latest specializations can cater to the student’s academic and intellectual needs.</li>
          <li>In majority of the European Countries, the tuition fee is the same for local and international students and comes as an advantage to international students.</li>
          <li>Attach great importance to research and believe in developing independent thinking.</li>
          <li>The Education system focuses on Innovation, Sustainability, Problem solving and building new technologies.</li>
          <li>European countries spend their GDP- 20% of the total income on education and research.</li>
          <li>European universities maintain some of the most advanced and cutting-edge laboratories in the world.</li>
          <li>The system of collaborations with industries operating in respective field has been set as a priority by many European Universities.</li>
          <li>Industrial co-operation provides an excellent opportunity for students to pursue salary based internships.</li>
          <li>Opportunity to closely follow the latest research advancements through participating in undergoing research projects at universities.</li>
          <li>The curricula are also designed to impart innovative and entrepreneurial skills among the students.</li>
          <li>Offers a unique cultural experience in a dynamic, multinational and encouraging environment with opportunity to interact and make friends with people from all over the world.</li>
          <li>Besides earning a world-class qualification, student will have the chance to learn new languages and intercultural skills that are of great value to future employers and an essential advantage in an ever-changing competitive world.</li>
          <li>Student is allowed to work part-time while studying.</li>
          <li>Student has plenty of opportunities to settle in industry in their core field or in research or can also set-up own business after completion of their studies.</li>
          <li>Some European Universities exempt Indian students from submitting IELTS/TOEFL.</li>
          <li>GRE or GMAT is not required for admission into a majority of European Universities and Business schools.</li>
          <li>Visa process is hassle-free and necessitates minimal financial documents.</li>
          <li>Provides Schengen visa with access to 26 countries.</li>
      </ul>
    </div>
  </div>
</div>
        
  <div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;padding: 20px;">
    <div class="row">
      <div class="col-sm">
        
      </div>
      <div class="col-sm">
        <img src ="../../assets/image/01.jpg">
      </div>
      <div class="col-sm">
        
      </div>
    </div>
  </div>


  <div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;padding: 20px;">

    <div class="row">
      <div class="col">
        <h6>Visakhapatnam</h6>
      
      <ul>
        <li>64-22/16/a,Gajuwaka,Vsp-530011,</li>  
        <li>AndhraPradesh,India</li>
        <li>0891-231456</li>
        <li>riseabroad@gmail.com</li>
      </ul>
      </div>
      <div class="col">
        <h6>Hyderabad</h6>
      <ul>
          <li>block-202,ramnagar,kunchamma colony,</li>  
          <li>Telangana,India</li>
          <li>0891-231789</li>
          <li>riseabroad@gmail.com</li>
        </ul>
      </div>
      <div class="col">
        <h6>TamilNadu</h6>
      <ul>
          <li>block-420,srinagar,anakapalli</li>  
          <li>TamilNadu,India</li>
          <li>0891-231745</li>
          <li>riseabroad@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>




  <div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;">
         
    <div class="row">
      <div class="col">
        <p style="text-align: center;">Copyright © 2020 RiseAbroad Overseas Edu Consultant,Pvt.Ltd...    Powered by  <a  href="https://radhakrishna0055.github.io/web-design/" rel="nofollow" target="_blank">Radhakrishna</a></p>
      </div>
    
    </div>
  </div>
       
        
    
    