<div class="container">
  <div class="row">
    <div class="col order-last">
     
    </div>
    <div class="col">
      
    </div>
    <div class="col order-first">
      <img src="../../assets/image/01.jpg">
    </div>
  </div>
</div>
  
<ul>
<li><a  routerLink="home">Home</a></li>
<li><a routerLink="about">About us!</a></li>
<li><a  routerLink="europeaneducation">European Education</a></li>
<li><a routerLink="europeancompanies">European Companies</a></li>
<li><a routerLink="articles">Articles</a></li>

<li><a  routerLink="universities">Universities</a></li>
<li><a routerLink="courses">Courses</a></li>

<li><a  routerLink="countries">Countries</a></li>

<li><a routerLink="services">Services</a></li>
</ul>



<div id="container">
  <router-outlet></router-outlet>
</div>