

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
  <h1>ARTICLES</h1>
  <h3>FRANCE</h3>
  <div class="row">
    <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="https://https://www.topuniversities.com/student-info/university-news/indian-students-france-wants-you"target="_blank">Indian Students: France Wants You!</a>
    <p>France is aiming to more than double the enrollment of Indian students at French universities in the next three years. As part of efforts to strengthen its “strategic partnership” with India, the country aims to be hosting 10,000 Indian students by 2020.</p>


    </div>
    <div class="col-4"><img src="../../assets/image/1.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
  </div>
</div>


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
  
  <div class="row">
    <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="https:https://economictimes.indiatimes.com/industry/services/education/from-france-and-germany-to-poland-and-scandinavia-education-options-for-indian-students-have-exploded-in-eu/articleshow/60135840.cms" target="_blank">From France and Germany to Poland and Scandinavia, education options for Indian students have exploded in EU </a>
    <p>France is aiming to more than double the enrollment of Indian students at French universities in the next three years. As part of efforts to strengthen its “strategic partnership” with India, the country aims to be hosting 10,000 Indian students by 2020.</p>


    </div>
    <div class="col-4"><img src="../../assets/image/2.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
  </div>
</div>


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
  
  <div class="row">
    <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="https://www.thehindu.com/news/cities/mumbai/we-aim-to-increase-number-of-indian-students-in-france/article18421137.ece" target="_blank">‘We aim to increase number of Indian students in France’</a>
    <p>Following the election of Emmanuel Macron as France’s new President, the Consul General of France in Mumbai, Yves Perrin, said his country was open to hosting more Indian students.</p>

    </div>
    <div class="col-4"><img src="../../assets/image/3.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
  </div>
</div>



<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
  
  <div class="row">
    <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="https://timesofindia.indiatimes.com/india/Indians-can-now-extend-stay-in-France-for-2-years-after-completing-studies/articleshow/46894811.cms" target="_blank">Indians can now extend stay in France for 2 years after completing studies</a>
    <p>They welcomed in particular agreement between India and France to facilitate professional experience for their students in both countries after the completion of their courses.</p>
    </div>
    <div class="col-4"><img src="../../assets/image/4.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
  </div>
</div>

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
  <h3>SWEDEN</h3>
  <div class="row">
    <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="https://www.dnaindia.com/education/report-higher-education-in-sweden-more-indian-students-opting-for-scandinavian-nation-2532920" target="_blank">Higher education in Sweden: More Indian students opting for Scandinavian nation</a>
    <p>The 11th edition of the Sweden India Nobel Memorial week recently hosted the Mumbai leg of an all-India quiz in the city's Wellingkar Institute of Management Development and Research. Winners of these quiz will eventually advance to the final of the event where the winner is given an all-expenses paid trip to Sweden.</p>
  </div>
    <div class="col-4"><img src="../../assets/image/5.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
  </div>
</div>


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">

  <div class="row">
    <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="http://www.avanse.com/blog/study-abroad-sweden-next-big-education-hub-indian-students/">Study abroad in Sweden – the next big education hub for Indian students</a>
    <p>Sweden, one of the most progressive and innovation focused countries globally has fast become a destination flocked by Indian students for culminating their high education dreams. It is the third largest country in the European Union and with a population close to 10million embodies a free-thinking, and creative culture that lays an emphasis on innovation led group work.</p>
  </div>
    <div class="col-4"><img src="../../assets/image/6.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
  </div>
</div>


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
<h3>GERMANY</h3>
  <div class="row">
    <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="https://www.timeshighereducation.com/news/number-indian-students-germany-doubles">Number of Indian students in Germany doubles</a>
    <p>The doubling of the number of Indian students heading to Germany within four years has been trumpeted by the Indian press, offering a sharp contrast with the dramatic fall in the numbers choosing the UK.</p>
  </div>
    <div class="col-4"><img src="../../assets/image/7.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
  </div>
</div>

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
<div class="row">
  <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="https://www.indiatoday.in/education-today/study-abroad/story/study-abroad-germany-985244-2017-06-28">Why is Germany becoming the most preferred place to study: 5 reasons why Indians should study in Germany</a>
  <p>In the past decade, India has witnessed a rise in number of students aspiring to fulfill their higher education in overseas study destinations. With constant development in the field of education, coupled with improvement in standard of living, many families in India are now capable of considering the choice of allowing their children to pursue their studies abroad.</p>
  
</div>
  <div class="col-4"><img src="../../assets/image/8.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
</div>
</div>

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
  <h3>NETHERLANDS</h3>
    <div class="row">
      <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="https://www.study-europe.net/countries/netherlands">Study in Netherland</a>
      <p>Known for its high quality in education and research, international study environment, and competitive pricing, the Netherlands is home to 60,000 international students each year and has an impressive 8 universities in the global top 100 of the Times High Education World University Rankings 2015-2016.</p>
    </div>
      <div class="col-4"><img src="../../assets/image/9.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <div class="row">
      <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="https://studyabroad.careers360.com/articles/study-in-netherlands">Quality education, fetching value for money</a>
      <p>Study in Netherlands- In Netherlands, you can explore over 2100 programmes taught in English. Besides the creative environment, connecting with the large number of international students, over 90,000, will certainly help you substantially when you complete your studies and begin your career search.</p>

    </div>
      <div class="col-4"><img src="../../assets/image/10.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
    </div>
    </div>

    
    <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
      <h3>DENMARK</h3>
        <div class="row">
          <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="https://www.mastersportal.com/articles/545/why-denmark-is-the-happiest-place-to-study-abroad-in-2020.html">Why Denmark is The Happiest Place to Study Abroad in 2017</a>
          <p>Known for its high quality in education and research, international study environment, and competitive pricing, the Netherlands is home to 60,000 international students each year and has an impressive 8 universities in the global top 100 of the Times High Education World University Rankings 2015-2016.</p>
        </div>
          <div class="col-4"><img src="../../assets/image/11.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
        </div>
      </div>

      <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
        <div class="row">
          <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="https://www.thehindu.com/todays-paper/tp-features/tp-educationplus/building-your-future-in-denmark/article4709798.ece">Building your future in Denmark</a>
          <p>It is common for students to bet on some of the Ivy League schools or top notch universities in the U.K. when contemplating a degree abroad. Language is one of the defining criterions when deciding on a course of study overseas, and students have largely shown a preference for studying in English speaking countries. Denmark has kept up with this and offers a variety of courses in English in its top universities, some of which are ranked among the top 100 in the world.</p>

        </div>
          <div class="col-4"><img src="../../assets/image/13.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
        </div>
        </div>
    

        <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
          <h3>ITALY</h3>
            <div class="row">
              <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="https://www.internationalstudentinsurance.com/italy-student-insurance/why-study-in-italy.php">Why Study in Italy?</a>
              <p>Besides the obvious reasons, such as delicious food, charming streets, diverse natural landscapes and history oozing from every crevasse, studying in Italy is sure to provide more than meets the eye for any study abroad student. With a varied selection of courses and disciplines, international students in Italy can take advantage of all this country has to offer, while pursuing credits in their designated field of interest.</p>
              
            </div>
              <div class="col-4"><img src="../../assets/image/20.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
            </div>
          </div>

          <div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
            <div class="row">
              <div class="col-8"><a style="color:rgba(20, 6, 6, 0.966); text-decoration-line: none;" href="https://www.topuniversities.com/blog/study-italy-international-students-reviews">Study in Italy: International Students’ Reviews</a>
              <p>International students consider Italy a great country for international study experience. Almost 7,000 students worldwide shared their impressions about studying in universities in Europe, on the world’s largest database of international student experiences, STeXX.eu.</p>
            </div>
              <div class="col-4"><img src="../../assets/image/28.jpg" alt="About" width="350px" style="float: middle;padding: 20px;"></div>
            </div>
            </div>



            
<div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;padding: 20px;">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      <img src ="../../assets/image/01.jpg">
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>


<div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;padding: 20px;">

  <div class="row">
    <div class="col">
      <h6>Visakhapatnam</h6>
    
    <ul>
      <li>64-22/16/a,Gajuwaka,Vsp-530011,</li>  
      <li>AndhraPradesh,India</li>
      <li>0891-231456</li>
      <li>riseabroad@gmail.com</li>
    </ul>
    </div>
    <div class="col">
      <h6>Hyderabad</h6>
    <ul>
        <li>block-202,ramnagar,kunchamma colony,</li>  
        <li>Telangana,India</li>
        <li>0891-231789</li>
        <li>riseabroad@gmail.com</li>
      </ul>
    </div>
    <div class="col">
      <h6>TamilNadu</h6>
    <ul>
        <li>block-420,srinagar,anakapalli</li>  
        <li>TamilNadu,India</li>
        <li>0891-231745</li>
        <li>riseabroad@gmail.com</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;">
       
  <div class="row">
    <div class="col">
      <p style="text-align: center;">Copyright © 2020 RiseAbroad Overseas Edu Consultant,Pvt.Ltd...    Powered by  <a  href="https://radhakrishna0055.github.io/web-design/" rel="nofollow" target="_blank">Radhakrishna</a></p>
    </div>
  
  </div>
</div>



































