
<div id="er">
<h1>SERVICES</h1>

<ul>
   <li>Counseling & Decision Making</li>
<li>Scholarships</li>
<li>Document Preparation & Admission</li>
<li>Pre-requisite Exams</li>
<li>Pre-Visa Counseling & Documentation</li>
<li>Exposure to Details of the Programme</li>
<li>Alumni</li>
<li>Foreign Language</li>
<li>Accommodation & Travel</li>
<li>Culture Understanding & Adaptation</li>
<li>Check-list of Materials</li>
</ul>
</div>

<div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;padding: 20px;">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      <img src ="../../assets/image/01.jpg">
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>


<div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;padding: 20px;">

  <div class="row">
    <div class="col">
      <h6>Visakhapatnam</h6>
    
    <ul>
      <li>64-22/16/a,Gajuwaka,Vsp-530011,</li>  
      <li>AndhraPradesh,India</li>
      <li>0891-231456</li>
      <li>riseabroad@gmail.com</li>
    </ul>
    </div>
    <div class="col">
      <h6>Hyderabad</h6>
    <ul>
        <li>block-202,ramnagar,kunchamma colony,</li>  
        <li>Telangana,India</li>
        <li>0891-231789</li>
        <li>riseabroad@gmail.com</li>
      </ul>
    </div>
    <div class="col">
      <h6>TamilNadu</h6>
    <ul>
        <li>block-420,srinagar,anakapalli</li>  
        <li>TamilNadu,India</li>
        <li>0891-231745</li>
        <li>riseabroad@gmail.com</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #333333;color: white;background-size: 100%;">
       
  <div class="row">
    <div class="col">
      <p style="text-align: center;">Copyright © 2020 RiseAbroad Overseas Edu Consultant,Pvt.Ltd...    Powered by  <a  href="https://radhakrishna0055.github.io/web-design/" rel="nofollow" target="_blank">Radhakrishna</a></p>
    </div>
  
  </div>
</div>

