

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
  
  <div class="row">
    <div class="col-sm-13"> <h1>MASTER PROGRAMS</h1>

      <h3>Computer Science / Information Technology / Electrical& Electronics Engineering/ Electronics & Communication Engineering/ Instrumentation & Control</h3>
      
      <p>Computer Science, Computer Graphics, Algorithms, Logic, Digital Media, Serious Games, Computer Networks, Security, Interaction technologies, Information Systems, Decision Support Systems, Software Engineering, Distributed Systems, Cloud Computing, Web Computing, Information Technology, Software Engineering, Big Data Management and Analytics, Data mining, Database Technologies, Semantic Web, Media Software Design, Computer Networks, Artificial Intelligence, Robotics, Information Systems etc..
      
          Power Engineering, Sustainable Energy, Wireless Communication, System-on-chip, VLSI, Embedded Systems, Intelligent Systems, Communication Systems, Wireless Networks, Systems & Control, Aerospace Electronics, Mechatronics, Microelectronics, Photonics, Nanotechnology, Biomedical Engineering, Automation Engineering, Signal Processing etc..</p>
      
      <h3>Mechanical Engineering / Production Engineering / Aeronautical Engineering / Marine Engineering</h3>
      
      <p>Automotive Engineering, Automobile Engineering, Automotive Transport, Intelligent Transport Systems, Aeronautical Engineering, Space Engineering, Industrial Design, Manufacturing, Robotics, Automation, Renewable Energy, Engineering Systems Design, Production Engineering, Product Development, Solar, Wind, Sustainable Engineering, Naval Architecture, Maritime Management, Mechatronics, Materials Engineering, Computational Mechanics, Resource Recovery, Energy Engineering, Sound and Vibration, Material Science, Simulation, Industrial Engineering, Quality & Operations, Engineering Management, Supply Chain Management, Logistics, Aerospace MBA etc..</p>
      
      <h3>Chemical Engineering / Environmental Engineering / Food Technology / Dairy Technology</h3>
      
      <p>Process Engineering, Waste2Energy, Innovative Chemical, Sustainable Energy, Industrial Biotechnology, Environmental Engineering, Food Engineering, Nanotechnology, Pulp & Paper, Biomedical Engineering, Petroleum Engineering, Electrochemical Engineering, Fluid Mechanics etc..</p>
      
      <h3>Civil Engineering / Construction / Architecture</h3>
      
      <p>Construction Project Management, Construction Engineering, Structural Engineering, Applied Mechanics, Industrial Design, Computational Mechanics, Intelligent Transport Systems, Sustainable Energy, Environmental Engineering, Hydro Engineering, Water Resources, Geomatics, Architecture, Architectural Engineering, Urban Design, Urban Planning & Policy Design, Conservation and Heritage, Energy-Efficient and Environmental Building Design, Sustainable Building Design and Performance, Sustainable Architecture & Landscape Design, Management of Built Environment etc..</p>
      
      <h3>Technical Management / Engineering Management</h3>
      
      <p>Project Management, Supply Chain Management, Industrial Management, Entrepreneurship, Management Engineering, Innovation Management, Financial Engineering, Risk Engineering etc..</p>
      
      <h3>Textile / Fashion</h3>
      
      <p>Textile Engineering, Fashion and Textile Design, Fashion Marketing, Applied Textile Management, Fashion Management, Luxury Management, Brand Management etc..</p>
      
      <h3>Design</h3>
      
      <p>Urban Design, Fashion Design, Textile Design, Product Design, Industrial Design, Graphic Design, Digital Architecture, Multimedia Design, Furniture Design, Interaction Design, Business Design, Innovation Design, Visual Design, Communication Design, Service Design, Information Design, Photography & Design, Food Design, Transportation & Automobile Design,.</p>
      
      <h3>Life Sciences</h3>
      
      <p>Biology, Biotechnology, Bioprocess Engineering, Industrial Biotechnology, Biomedical Engineering, Biomedical Methods, Biomaterials, Tissue Engineering, Food Technology, Pharmaceutical Biotechnology, Plant Biotechnology, Food & Health, Nutrition, Molecular Biology, Microbiology, Protein Science, Molecular Genetics, Medical Biology, Biomedicine, Bioinformatics, Systems Biology etc..</p>
      
      <h3>Natural Sciences</h3>
      
      <p>Organic Chemistry, Medicinal Chemistry, Synthesis, Analytical Chemistry, Physics, Lasers, Material Physics, Astronomy, Photonics, Nano Science, Protein Science, Geology, Engineering Mathematics, Financial & Actuarial Mathematics etc..</p>
      
      <h3>Medical Sciences</h3>
      
      <p>Medical Biosciences, Molecular Genetics, Molecular Biology, Biomedicine, Public health, health & Care, Nursing, Medical Research, Forensic Science, Infection Biology, Molecular Medicine, Immunology, Tumor Biology, Experimental and Medical Biosciences etc..</p>
      
      <h3>Pharmacy</h3>
      
      <p>Pharmaceutical Modeling, Pharmaceutical Quality Assurance & Biotechnology, - International Pharmaceutical Management, Health care Management</p>
      
      <h3>Physiotherapy</h3>
      
      <p>Sports Medicine, Sports Psychology, Exercise Science, Public Health etc..</p>
      
      <h3>Social Sciences / Law / Archeology / Literature / Religious Studies</h3>
      
      <p>Social Work, Development Studies, Psychology, Political Studies, International Migration, Ethnic Relations, Welfare Policies, Archeology, Human Rights, European Law, Corporate Tax Law, Environmental Law, Law & IT, Intellectual Property Law, Commercial Arbitration Law, Literature, Linguistics, Gender Studies, Ethics, Theology etc..</p>
      
      <h3>Management / Economics</h3>
      
      <p>Banking, International Finance, Brand Management, Marketing, Human Resources, Entrepreneurship, International Business, Negotiation, Leisure & Tourism, Hotel Management, Events Management, Accounting, Luxury Management, Digital Marketing, Web marketing, Project Management, Strategic Project Management, Corporate Finance, Information Systems Management, Auditing, Supply Chain, Logistics, Economics, Trade, Policy etc..</p>
      
      <h3>Communication / Media / Journalism / Visual Communication</h3>
      
      <p>Media studies, Journalism, Graphic Communication, Communication, Journalism with New Media, - International Media management, Public Relations with New Media, Media & International Conflict, TV and Radio Journalism, Journalism and Public Relations, Digital Marketing & Communications, Applied Digital Media etc..</p>
      
      <h3>Agriculture / Viticulture / Forestry</h3>
      
      <p>Agribusiness, Agricultural Economics, Food Chain, Organic Agriculture, Agrobiotechnology, Plant Sciences, Forestry, Viticulture, Oenology etc..</p>
       </div>
    </div>
    </div>


   
