

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h1>STUDY IN LATVIA</h1>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>Latvia is a democratic and highly developed country.</li>
        <li>It is one of the Baltic countries situated on the Northern Part of Europe and known as the Pearl of the Baltic States.</li>
        <li>Riga is the capital city and is the largest city in Latvia.</li>
        <li>Currency is Euros which is equal to 75 Indian rupees.</li>
        <li>International and Multicultural environment with students from more than 50 countries.</li>
    </ul>

</div>
  </div>
</div>


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Highlights</h3>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>It has very old Universities which are known for excellent research, particularly in organic chemistry, medical chemistry, genetic engineering, physics, materials science and information technologies.</li>
        <li>IELTS/TOEFL/ GRE are not required for admission.</li>
        <li>Latvia offers a wide range of study programs in both Engineering and Management.</li>
        <li>Tuition fee is very minimal.</li>
        <li>The highest number of inventions, which are patented both nationwide and abroad, are made in the branch of medical chemistry.</li>
        <li>Latvia is a very lush green country, covered with pine forest.</li>
    </ul>

</div>
  </div>
</div>



<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Economy</h3>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>Latvia's industrial base has centered mainly on heavy industries such as chemicals and petrochemicals, metal working, and machine building. Major manufactured items include railway carriages, buses, mopeds, washing machines, radios, electronics, and telephone systems.</li>
        <li>Latvia is a member f World Trade Organization.</li>
        <li>Latvia is ranked the 14th in the world by the Ease of Doing Business Index prepared by the World Bank Group.</li>
        <li>Latvia is a member state of the European Union – the largest single market in the world.</li>
        <li>Logistics is well established since time immemorial thanks to the geographic location of Latvia. Ports, rail and roads of Latvia have always linked Europe and the rest of the West with the East.</li>
        <li>25 million customers are reachable within 48 hours in the Baltic region next to Latvia. Airport of Riga provides European and transcontinental flights to almost a hundred destinations.</li>
    </ul>

</div>
  </div>
</div>

