

<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
  <h1>BACHELOR PROGRAMS</h1>

  <div class="row">
    <div class="col-sm-8"><p>Electronic Engineering, Mechanical & Manufacturing Engineering, Sustainable Energy Engineering, Civil Engineering, Sustainable Civil Engineering, Quantity Surveying, Construction Management & Engineering, Architecture, Architectural Technology, Applied Biology, Pharmaceutical Science, Food Science with Business, Agriculture, Forestry, Horticulture, Software Systems Development, Entertainment Systems, Applied Computing, Information Technology, Multimedia Applications Development, Computer Forensics and Security, Health Promotion, Exercise & Health studies, Airline Transport Operations, Hotel Management, Tourism Marketing, Hospitality Management, Psychology, Legal Studies, Criminal Justice Studies, Music, Visual Art, Design- Visual Communications, Accounting, Business Management with Law, Finance & Investment, Business, International Business, Marketing, Retail Management.</p>

    </div>
    <div class="col-sm-4"><img src="../../assets/image/eu_education.jpg"></div>
  </div>
</div>
    




