


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h1>STUDY IN BELGIUM</h1>
    
    <div class="row">
        <div class="col-13">
<p>Belgium is a small, highly developed and densely populated country (with one crore of inhabitants) at the cross-roads of Western Europe. Belgium is a founding member of the European Union and hosts the EU's headquarters, as well as those of several other major international organizations such as N.A.T.O. The official currency of Belgium is Euro.</p>
</div>
  </div>
</div>



<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Highlights</h3>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>Belgium was the first continental European country which has undergone the Industrial Revolution, in the early 19th century.</li>
        <li>Belgium has possibly the highest "quality of life" in the world, as testified by its excellent food, housing, health care, education and infrastructure. It has world records for high productivity and low poverty, and for the appreciation of foreigners residing in Belgium.</li>
        <li>Living expenditure in Brussels is half as cheap as in London.</li>
        <li>Belgium is the world's 3rd country with the most vehicles per square kilometers after the Netherlands and Japan. It has the highest density of roads and the highest density of railroads in the world.</li>
        <li>Comprised of a varied landscape, which includes rivers and gorges, contrasted by endless rolling plains and long stretches of wide, sandy beaches, Belgium is the finest abode where nature lover's fantasies come true.</li>
</ul>
</div>
  </div>
</div>



<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Features</h3>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>The international standards of teaching and the various number of courses offered at the different Belgium Universities prove Belgium as an ideal study destination for International students.</li>
        <li>The standard of education in Belgium today is a class in itself and one of the acclaimed standards in Europe and it steadily continues to improve.</li>
        <li>The tuition fee charged by Belgium universities is very minimal and many of the Master’s programmes are offered at the fee of 500 to 2000 Euro per year.</li>
        <li>Belgium universities offer special scholarships covering tuition, travel and living expenses to employees working in Public sector and NGO.</li>
        <li>A variety of research projects are conducted at all higher education institutions in Belgium. Belgium has a considerable proportion of university-based research, which makes it possible to have a strong connection between research and education. Students get an opportunity to follow the latest research trends and this opens up an opportunity to continue education with funded PhD.</li>
</ul>
</div>
  </div>
</div>


<div class="container-fluid" style="background-color: lightseagreen;size: 100%;color: white;">
    <h3>Economy & Job Market</h3>
    
    <div class="row">
        <div class="col-13">
<ul>
            
        <li>Belgium has a highly developed market economy. It belongs to the Organization for Economic Cooperation and Development (OECD), a group of leading industrialized democracies.</li>
        <li>Belgian per capita GDP ranks among the world's highest.</li>
        <li>The strategic location of Belgium at the heart of a highly industrialized region helped it to become the world's 15th largest trading nation.</li>
        <li>Belgium is ranked as the fourth most attractive country for foreign direct investment (FDI), after the United States, China and Hong Kong.</li>
        <li>According to the WTO's International Trade Statistics, Belgium is the world's first exporter of chocolate and medicaments, and the world's 4th exporter of other pharmaceuticals, sugar confectionery, non-alcoholic beverages, eggs and cereals flour/starch, among others.</li>
</ul>
</div>
  </div>
</div>
